<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ponking.mapper.PermissionMapper">


    <select id="selectPermissionsByUserName" resultType="java.lang.String">
        SELECT p.permission_value
        from acl_user u
        RIGHT JOIN acl_user_role ur ON u.id = ur.user_id
        RIGHT JOIN acl_role_permission rp ON ur.role_id = rp.role_id
        RIGHT JOIN acl_permission p on rp.permission_id = p.id
        WHERE p.permission_value is NOT NULL AND  u.username = #{name}
    </select>

</mapper>
